* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  user-select: none;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #101010;
}

.nav-links {
  display: flex;
}

.link, .logo {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  cursor: pointer;
}

.logo {
  font-size: 32px;
}

.text {
  background-color: bisque;
  font-size: 48px;
  text-align: center;
  margin: 40px;
  padding: 20px;
}